<ion-view title="" class="pane1">
    <ion-content padding="false" scroll="false" class="welcome" animation="slide-left-right">
        <div style="line-height: 250px; text-align: center;">
        </div>
            <img class="logo" style="margin-left: 0; margin-top: 100px" src="img/zolando-text.png"/>
        <img class="player-logo" style="width: 100%; margin-left: 0;" src="img/zplayer-logo.png"/>
            <a ui-sref="slideForm">
                    <div class="btn" id="btnred" style="align-self: center; text-align: center;">
                        Fashion</br>Player
                    </div>
            </a>
    </ion-content>
</ion-view>